$icons_path: unquote('/images/icons/')
$outer_border: #CBCBCB
$inner_border: #E0E0E0
$header: #F5F5F5
$tr_hover: #EFE

body
  background-color: #FFF
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-family: arial, verdana
  font-size: 10pt

a
  color: #5D5D5D
  text-decoration: none
  &:hover
    color: #AAA !important

div.pagination a:hover
  color: #000 !important

div#wrapper
  padding: 20px
  h1
    color: #333
    border-bottom: 1px dotted #CCC
  div.content
    h2
      color: #222
    h3
      padding-left: 20px
      color: #555
      font-style: italic
      border-bottom: 1px dotted #CCC
    div.tbl table
      border-collapse: collapse
      border: 2px solid $outer_border
      border-spacing: 0
      width: 100%
      thead
        tr
          height: 25px
          border-bottom: 2px solid $outer_border
          background-color: $header
          &:hover
            background-color: $header
          th
            font-weight: bold
            color: #333
            padding: 0 5px
            border: 1px solid $outer_border
      tr
        a
          &:hover
            color: #5D5D5D !important
        &:hover
          background-color: $tr_hover
      td
        border: 1px solid $inner_border
        text-align: left
        padding: 0 5px
        line-height: 25px
      td.number
        text-align: right
      td.center
        text-align: center
      td.checkbox, th.checkbox
        width: 16px
        text-align: center

.simple_form
  float: left
  label, .nested_fields_label
    float: left
    width: 130px
    text-align: right
    margin-right: 10px
  .nested_fields_label
    font-weight: bold
  div.input
    margin-bottom: 10px
    min-height: 30px
    input, textarea
      border: 1px solid #E0E0E0
    select, input, textarea
      width: 300px
    input[type='checkbox']
      min-width: 1px
  div.boolean, input[type='submit']
    margin-left: 140px
  div.boolean label
    float: none
    margin: 0
  .check_boxes div
    float: right
    margin-right: 5px
    label
      width: 100px
  div.nested_fields_actions
    height: 30px
  div.nested_fields
    div.fields
      clear: right
      div.inline_fields
        display: inline
      div.fields_content
        border: 1px solid red
        display: inline-block
        float: left
  .field_with_errors
    background: none
    color: red

.spoiler
  width: 100%
  margin-bottom: 5px
  overflow: hidden
  &.tracker
    border: 1px solid #CCC
    background-color: #EEE
  div.caption
    display: block
    line-height: 24px
    border-bottom: 1px solid #CCC
    padding-left: 20px
    font-weight: bold
    color: #333
  h3.caption
    padding-left: 35px !important
    span.toggler
      width: 21px
      height: 21px
      float: left
      position: absolute
      background: url("#{$icons_path}expand.gif") no-repeat
      text-indent: -9999px
      margin: -5px 0 0 -25px
  &.expanded
    & > h3.caption span.toggler
      background: url("#{$icons_path}collapse.gif") no-repeat
    & > .content
      display: block
  .content
    padding: 10px
    display: none
    background-color: #FFF

div.actions
  float: left
  clear: left

.info div
  margin-bottom: 10px
  whitespace: nowrap
  clear: both
  span.label
    float: left
    clear: right
    width: 160px
    &:after
      content: ": "

.action
  text-indent: -9999px
  min-width: 16px
  height: 16px
  display: inline-block
  vertical-align: middle
  white-space: nowrap
  line-height: 16px
  &:hover
    background: none
    color: #000 !important
  &.disabled
    opacity: 0.3
  &.with_text
    text-indent: 0 !important
    text-decoration: none
    padding-left: 20px
  &.add
    background: url("#{$icons_path}add.png") no-repeat
  &.back
    background: url("#{$icons_path}back.png") no-repeat
  &.edit
    background: url("#{$icons_path}edit.png") no-repeat
  &.delete
    background: url("#{$icons_path}delete.png") no-repeat
  &.show
    background: url("#{$icons_path}info.png") no-repeat
  &.download
    background: url("#{$icons_path}download.png") no-repeat
  &.block
    display: block
  &.inline
    float: left
  &.remote

span.flag
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: middle
  &.true
    background: url("#{$icons_path}true.png")
  &.false
    background: url("#{$icons_path}false.png")

#loading
  display: none
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  background-color: #333
  opacity: .7
  filter: alpha(opacity=70)
  z-index: 2000
  img
    display: block
    position: absolute
    top: 50%
    left: 50%
    margin-top: -35px
    margin-left: -35px

#navigation
  border: 2px solid #BBBBBF
  background-color: #F5F9FC
  height: 30px
  line-height: 30px
  margin-bottom: 30px
  a
    display: block
    float: left
    height: 30px
    border-right: 1px dashed #BBBBBF
    padding: 0 10px

th
  line-height: 23px
  &.sortable div.search
    float: left
    margin: 1px 0 0 -3px
    position: absolute
    span.search_toggler
      float: left
      text-indent: -9999px
      background: url("#{$icons_path}search_icon.png") no-repeat
      width: 20px
      height: 20px
    input[type='text']
      height: 17px
      border: 1px solid #AAA
      float: left
      display: none
    &.active input[type='text']
      display: block
  &.sortable.current
    font-style: italic
    &[data-order='desc']:after
      content: '⇣'
    &[data-order='asc']:after
      content: '⇡'
      
#toolbar
  height: 25px
  margin-bottom: 1em
  line-height: 25px
  #filters
    float: left
  #copy_destination
    float: right
  #actions
    margin: 0 10px
