- trackers.each do |tracker|
  .memorized.spoiler[tracker]
    .caption
      = tracker.name
    .content
      - if torrents_for_tracker(tracker).empty?
        %p= "No torrents yet..."
      = render :partial => "media_category", :collection => tracker.media_categories, :locals => { :tracker => tracker }