- trackers.each do |tracker|
  %div.memorized.spoiler[tracker]
    .caption
      = tracker.name
    .content
      - if @torrents.for_tracker(tracker).empty?
        %p= "No torrents yet..."
      = render :partial => "media_category", :collection => tracker.media_categories, :locals => { :tracker => tracker }